<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
  <div class="page-content">
    <div id="tab-general">
      <div class="container1">
        <div class="panel-group">
          <div class="panel noBorder">
            <div class="panel-body OT-P-LR-30">
              <div class="row">
                <div class="col-md-12">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END CONTENT-->
  <!--BEGIN FOOTER-->
 
  <!--END FOOTER-->
</div>
