<div style="margin:20px;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Name</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routecode">Id Card No</label>
                <input type="text" class="form-control" id="routecode">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Contact No</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Defence Training</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Date Of Induction</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routecode">Id Card Expiry</label>
                <input type="text" class="form-control" id="routecode">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Driving Licence No / RTO</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Badge No</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Driver Display Card No</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routecode">Driving Licence Validity</label>
                <input type="text" class="form-control" id="routecode">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Badge Validity</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Driver Display Card Validity</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Medical Checkup Expiry</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">BGV Company</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">BGV Details</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">AadharCard</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Pan Card</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="routecode">Voter Card</label>
                <input type="text" class="form-control" id="routecode">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Id Card</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ownername">Police Verification</label>
                <input type="text" class="form-control" id="ownername">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="routename">Police Verification Expiry</label>
                <input type="text" class="form-control" id="routename">
            </div>
        </div>
    </div>
  

  <div class="row" align="center" style="margin-top: 20px;">
    <div class="col-sm-12 form-group">
        <button class="btn btn-primary"(click)="details()" style="margin: 10px;">Submit</button>
        <button class="btn btn-danger" style="margin: 10px;">Cancel</button>
    </div>  
  </div>
                       
  </div>