<div style="margin:20px;">
  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
              <label for="routename">Vehicle No</label>
              <input type="text" class="form-control" id="routename">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="routecode">Vehicle Sticker Number</label>
              <input type="text" class="form-control" id="routecode">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Model</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Vehicle Type</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
              <label for="routename">Engine No</label>
              <input type="text" class="form-control" id="routename">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="routecode">Chassis No</label>
              <input type="text" class="form-control" id="routecode">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">TR No</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Location</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
          <label for="routename">Permit No</label>
          <input type="text" class="form-control" id="routename">
      </div>
  </div>
  <div class="col-md-3">
      <div class="form-group">
          <label for="routecode">Last Pollution Date</label>
          <input type="text" class="form-control" id="routecode">
      </div>
  </div>
  <div class="col-md-3">
      <div class="form-group">
          <label for="ownername">Fire Extinguisher</label>
          <input type="text" class="form-control" id="ownername">
      </div>
  </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">First Aid Kit</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="routename">GPS</label>
            <input type="text" class="form-control" id="routename">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="routecode">RC Book</label>
            <input type="text" class="form-control" id="routecode">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="ownername">Remarks</label>
            <input type="text" class="form-control" id="ownername">
        </div>
    </div>
</div>



<div class="row" align="center" style="margin-top: 20px;">
  <div class="col-sm-12 form-group">
      <button class="btn btn-primary"(click)="details()" style="margin: 10px;">Submit</button>
      <button class="btn btn-danger" style="margin: 10px;">Cancel</button>
  </div>  
</div>
                     
</div>