<div class="table-responsive">
    <button class="btn btn-primary" style="width:100px; float:right; margin:5px;" (click)="add()">Add</button>
    <table id="BusinessUnitTable" #dataTable class="table table-hover table-bordered" style="width:100%" align="center">
        <thead align="center">
            <tr>
                <th>Root Name</th>
                <th>Root Code</th>
                <th>Owner Name</th>
                <th>Active</th>
                <th>Created On</th>
                <th>Modified On</th>
                <th>Picup Points</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="text-align: -webkit-center">Root Name</th>
                <th style="text-align: -webkit-center">Root Code</th>
                <th style="text-align: -webkit-center">Owner Name</th>
                <th style="text-align: -webkit-center">Active</th>
                <th style="text-align: -webkit-center">Created On</th>
                <th style="text-align: -webkit-center">Modified On</th>
            </tr>
        </tfoot>
        <tbody align="center">

        </tbody>
        
    </table>
</div>
