<div style="margin:20px;">
  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
              <label for="routename">Permit Validity</label>
              <input type="text" class="form-control" id="routename">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="routecode">FC Validity</label>
              <input type="text" class="form-control" id="routecode">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Insurance Validity</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Tax Validity</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
              <label for="routename">Emission Validity</label>
              <input type="text" class="form-control" id="routename">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="routecode">Vehicle Induction Date</label>
              <input type="text" class="form-control" id="routecode">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Pollution Date Validity</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label for="ownername">Fire Extinguisher Validity</label>
              <input type="text" class="form-control" id="ownername">
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
          <label for="routename">First Aid Kit Validity</label>
          <input type="text" class="form-control" id="routename">
      </div>
  </div>
  </div>

  



<div class="row" align="center" style="margin-top: 20px;">
  <div class="col-sm-12 form-group">
      <button class="btn btn-primary"(click)="details()" style="margin: 10px;">Submit</button>
      <button class="btn btn-danger" style="margin: 10px;">Cancel</button>
  </div>  
</div>
                     
</div>