<table id="example" #dataTable class="display" style="text-align: center !important; margin-top: 20px;"> 
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Driver Code</th>
            <th>Owner Name</th>
            <th>Active</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Pickup Points</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true" (click)="driverdetails()"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>7</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>8</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>9</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>10</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>11</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>12</td>
            <td>ABCDEF</td>
            <td>Rakesh Sharma</td>
            <td>Yes</td>
            <td>HNO6KOR</td>
            <td>25-04-2019</td>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
        </tr>
    </tbody>
  </table>