<div class="container" id="tiles">
  <div class="row">
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);" [routerLink]="['../routermaster']">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);" [routerLink]="['../drivermaster']">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Driver Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);" [routerLink]="['../vehicletype']">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Vehicle Type</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);" [routerLink]="['../vehiclemaster']">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Vehicle Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    
  </div>
  <div class="row"  style="margin-top: 10px;">
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    
  </div>
  <div class="row"  style="margin-top: 10px;">
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;   background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card text-white" style="min-width: 10rem; min-height: 8em; color: white;  background:linear-gradient(to right, #dc2c46 , #c42f7a);">
        <div class="card-body" style="text-align: center; left: 18%;position: absolute; top: 40%;">
          <h4 class="card-title">Route Master</h4>
          <!-- <i class="fa fa-briefcase" style="margin:20px;font-size:60px;right: 0;bottom: 0; position: absolute;"></i> -->
        </div>
      </div>
    </div>
    
  </div>
</div>