<div class="container" align="center">
 
    <div class="row" aligin="center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Defensive Training Document</label>
                  <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
                </div>
              </form>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Driver Induction Document</label>
                  <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
                </div>
              </form>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Id Card Expiriy Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Driving Licence Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
     
  </div>
 
  <div class="row">
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Badge Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Display Card Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Medical Checkup Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
      <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Police Verification Document</label>
                <input type="file" class="form-control" id="exampleFormControlFile1" style="width: 400px;">
              </div>
            </form>
      </div>
  </div>
  <div class="row" style="margin-top: 50px;">
      <button class="btn btn-primary" style="margin:10px;" (click)="details()">Submit</button>
      <button class="btn btn-danger" style="margin:10px;">Cancel</button>
  </div>
   
</div>
